@model MiniStructorMVCApp.Models.UserLogin

@{
    ViewData["Title"] = "Ministructor";
}

<h1>Login to Your Account</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m => m.returnUrl)
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-1">
        <a asp-action="Index" asp-controller="Home" class="btn btn-sm btn-secondary">Home</a>
    </div>
    <div class="col-sm-1">
        <a asp-action="Register" class="btn btn-sm btn-secondary">Register</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
